{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='speaking.css') }}">
{% endblock %}

{% block title %}IELTS English Club - Speaking{% endblock %}

{% block page_content %}
	<div class="page-header">
		<ul class="nav nav-tabs">
			{% if type=="friends" %}<li class="active">
			{% else %}<li>
			{% endif %}
				<a href="{{ url_for('speaking_friends') }}">Friends</a>
			</li>
			{% if type=="recommendation" %}<li class="active">
			{% else %}<li>
			{% endif %}
				<a href="{{ url_for('speaking_recommends') }}">Recommendation</a>
			</li>
			{% if type=="invitation" %}<li class="active">
			{% else %}<li>
			{% endif %}
				<a href="{{ url_for('speaking_invitation') }}">Invitation</a>
			</li>
		</ul>
	</div>
	{% block speaking_content %}{% endblock %}
{% endblock %}