{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='speaking.css') }}">
{% endblock %}

{% block title %}IELTS English Club - Speaking{% endblock %}

{% block page_content %}
	<div class="page-header">
		<ul class="nav nav-tabs">
			<li {% if type=="friends" %} class="active" {% endif %}>
				<a href="{{ url_for('speaking_friends') }}">Friends</a>
			</li>
			<li {% if type=="recommendation" %} class="active" {% endif %}>
				<a href="{{ url_for('speaking_recommends') }}">Recommendation</a>
			</li>
			<li {% if type=="invitation" %} class="active" {% endif %}>
				<a href="{{ url_for('speaking_invitation') }}">Invitation</a>
			</li>
		</ul>
	</div>
	{% block speaking_content %}{% endblock %}
{% endblock %}