{% extends "speaking/base.html" %}

{% block speaking_content %}
	{% if users %}
		<h3>Friends</h3>
		<p>Here are your friends, you can see their contact informations.</p>
		
		{% include("speaking/_users.html") %}
		
		{% if pagination %}
		<div class="pagination">
			{{ macros.pagination_widget(pagination, 'speaking_recommends') }}
		</div>
		{% endif %}

    <p>Join the wechat group, and find your friends their, if they forget to leave their contact information:<br/>
    <img src="/static/wechat-ielt-english-club.jpeg" alt="QR code for wechat group IELT English Club">
    </p>
	{% else %}
	<p>You do not have any friends yet.</p>
	<p>Find your practice friends in <a href="{{ url_for('speaking_recommends') }}">Recommendations</a></p>
	{% endif %}	
{% endblock %}