{% extends "speaking/base.html" %}

{% block speaking_content %}
	<h3>You are inviting...</h3>
	{% if invited_users %}
	{% for u in invited_users %}
		<span>
			<img class="img-rounded" src="{{ u.gravatar(size=30) }}">
			{{ u.nickname }}
			&nbsp
		</span>
	{% endfor %}
	{% else %}
	<p>You are not inviting anyone.</p>
	<p>Find your practice friends in <a href="{{ url_for('speaking_recommends') }}">Recommendations</a></p>
	{% endif %}
		<h3>Received invitations...</h3>
	{% if users %}
		<p>You have received invitations, you can either accept or decline them.</p>
		<p>You can see each other's contact information after you accept the invitation.</p>
		
		{% include("speaking/_users.html") %}
		
		{% if pagination %}
		<div class="pagination">
			{{ macros.pagination_widget(pagination, 'speaking_recommends') }}
		</div>
		{% endif %}
	{% else %}
	<p>You have not received any invitations yet.</p>
	<p>Find your practice friends in <a href="{{ url_for('speaking_recommends') }}">Recommendations</a></p>
	<p>Or check your friends in <a href="{{ url_for('speaking_friends') }}">Friends</a></p>
	{% endif %}	
{% endblock %}