{% extends "writing/base.html" %}

{% block writing_content %}
	<div>
        <span><label>Category: </label></span>
        <span>
            <select id="category" name="category">
                <option value {% if not category_id %} selected {% endif %}>--All--</option>
                {% for c in categories %}
                <option value="{{ c.id }}" {% if c.id == category_id %} selected {% endif %}>{{ c.category }}</option>
                {% endfor %}
            </select>
        </span>
        <span><label>Issue: </label></span>
        <span>
            <select id="issue" name="issue">
                {% for t in topics %}
                <option value="{{ t.issue_number }}"
                        title="{{ t.topic }}"
                        {% if t.issue_number == issue_number %} selected {% endif %}>
                    {{ t.issue_number }}
                </option>
                {% endfor %}
            </select>
        </span>
        {% if current_topic %}
        <div><p><b>[{{ current_topic.category.category }}]{{ current_topic.topic }}</b></p></div>
        {% endif %}
    </div>
	<form method="POST" class="article-form" role="form">
		{{ form.csrf_token }}
		<div>{{ form.content.label }}</div>
		<div>{{ form.content(class="article-form-content") }}</div>
		{{ wtf.form_field(form.submit) }}
	</form>
	{% if articles %}
		<h3>Written Articles</h3>

		{% include("writing/_articles.html") %}

		{% if pagination %}
		<div class="pagination">
			{{ macros.pagination_widget(pagination, 'writing_my_articles') }}
		</div>
		{% endif %}
	{% else %}
	<p>You have not written anything yet...</p>
    <p>Start practicing now or have a look at
        <a href="{{ url_for('writing_all_articles') }}">articles of others</a>.
    </p>
	{% endif %}	
{% endblock %}