{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
{% endblock %}

{% block title %}IELTS English Club{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle"
			data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
			<img  class="img-rounded profile-thumbnail"
				  src="/static/favicon.ico" height="30" width="30">
			</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav nav-pills">
				<li><a href="{{ url_for('speaking') }}">Speaking</a></li>
				<li><a href="{{ url_for('writing') }}">Writing</a></li>
				{% if current_user.is_administrator() %}
				<li><a href="{{ url_for('admin') }}">Admin</a></li>
				{% endif %}
			</ul>
			{% if current_user.is_authenticated() %}
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ url_for('profile') }}">
						<img class="img-rounded profile-thumbnail"
							 src = "{{ current_user.gravatar(size=25) }}">
						{{ current_user.nickname }}
					</a></li>
					<li><a href="{{ url_for('logout') }}">Sign out</a></li>
				</ul>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container">
	{% for message in get_flashed_messages() %}
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	</div>
	{% endfor %}
	
	{% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<img src="http://c.cnzz.com/wapstat.php?siteid=1257753183&r=" width="0" height="0"/>
{% endblock %}
